.container2{
    display: flex;
    background-color: black ;
    padding: 20px;
    text-align: center;
    list-style: none;
    margin: 0rem 0;
    column-gap: 3rem;
    row-gap: 4rem;
    align-items: center;
}

.fontColor2{
    color:white;
}


.colunm2{
    flex-wrap: wrap;
    gap: 32px;
    display: flex;
    
    
}

.aruma2{
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    padding: 10px;
}